.container {
    position: sticky;
    top: 0;
}

.titleContainer {
    text-align: center;
}

.title {
    color: white;
}

.charImgContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.charImg {
    max-width: 270px !important;
    max-height: 246px !important;
    object-fit: cover;
}

p {
    color: beige;
    margin: 5px;
    padding: 5px;
}

.imgTextDesc {
    font-weight: bold;
}

.quoteText {
    float: right;
    font-style: italic;
}

.loadingIndicator {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
